@tailwind base;
@tailwind components;
@tailwind utilities;


.cl-internal-b3fm6y {
    display: none;
}

  
.cl-internal-uyu30o {
    display:none
}


 .cl-formButtonPrimary {
    color:#245EE7;
 }
.cl-userButtonPopoverCard {
    z-index: 100000000000000000000;
}
 